*,
*::before,
*::after {
  box-sizing: border-box;
}

.portfolio_body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content;
  overflow: scroll;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  font-weight: 800;
  padding-bottom: 2.5em;
  background-image: linear-gradient(rgba(216, 212, 0, 0.568), rgb(255, 157, 0));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio_header {
  grid-area: header;
}

.portfolio_main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5em;
  margin: auto;
  gap: 2em;
  width: 90%;
  margin-top: 0;
}

.arrow {
  font-size: 7vw;
  animation: pulse-arrow 1s infinite;
}

@keyframes pulse-arrow {
  0% {
    transform: scale(0.6);
  }
}

@media screen and (min-width: 1000px) {
  .arrow {
    font-size: 5em;
  }
}

.text_area {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  padding-bottom: 2em;
}

.project_text {
  font-size: 5vw;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .project_text {
    font-size: 4rem;
  }
}

.slider_container {
  position: relative;
  margin: auto;
  border: 2px solid black;
  box-shadow: 0 0 15px var(--clr-dark-grey);
}
.slides {
  display: none;
}

.slides:hover {
  opacity: 70%;
}

.prev,
.next {
  position: absolute;
  top: 40%;
  border-radius: 15%;
  cursor: pointer;
  width: auto;
  font-size: 5vw;
  padding: 0 0.5em 0 0.5em;
  transition: 0.6s ease;
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 1000px) {
  .prev,
  .next {
    font-size: 4rem;
  }
}

.prev:active,
.next:active {
  transform: scale(0.6);
}

.next {
  right: 0;
}

.portfolio_footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
