@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
/* Global styles*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-orange: #ff7a00;
  --clr-light-grey: #afafaf;
  --clr-dark-grey: rgb(0, 0, 0);
  --clr-offwhite: #e9e9e9;
}

html {
  position: relative;
  height: 100%;
}

body {
  display: grid;
  grid-area: "header" "main" "footer";
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  padding-bottom: 2.5em;
  background-image: linear-gradient(rgba(255, 208, 0, 0.74), rgb(27, 124, 250));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 2570px) {
  body {
    max-width: 1500px;
  }
}

img {
  max-width: 100%;
}

/* Header styles*/

header {
  width: 100%;
  align-items: center;
}

.header_navbar {
  padding: 2vh 3vw 0 3vw;
}

.header_navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.header_navbar li {
  list-style: none;
  font-family: "Permanent Marker", cursive;
  font-weight: 500;
  font-size: 6vw;
}

@media screen and (min-width: 750px) {
  .header_navbar li {
    font-size: 3rem;
  }
}

.header_navbar li a {
  text-decoration: none;
  color: black;
}

.header_navbar li a:hover {
  color: #ff7a00;
}

.header_navbar li a:focus {
  color: #ff7a00;
}

.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name_container {
  display: flex;
}

.main_face_img {
  border-radius: 50%;
  width: 60%;
  border: solid var(--clr-dark-grey) 3px;
  box-shadow: 0 0 10px var(--clr-dark-grey);
}

.person_firstname {
  display: none;
}

.person_lastname {
  display: none;
}

.fullname {
  font-family: "Permanent Marker", cursive;
  font-size: 8vw;
}

.contact_button {
  margin-top: 1em;
  margin-bottom: 0.5em;
  background-color: var(--clr-light-grey);
  width: 25vw;
  font-size: 5vw;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .header_container {
    display: grid;
    grid-template-areas:
      "photo name"
      "contact .";
    padding: 1em 4em 0 4em;
    justify-items: center;
    gap: 1em;
  }

  .photo_container {
    grid-area: photo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
  }

  .name_container {
    grid-area: name;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact_button {
    grid-area: contact;
    margin-top: 0.3em;
  }
  .main_face_img {
    width: 90%;
    border-radius: 50%;
    border: solid var(--clr-dark-grey) 3px;
    box-shadow: 0 0 10px var(--clr-dark-grey);
  }

  .person_firstname {
    display: flex;
    font-family: "Permanent Marker", cursive;
    font-size: 4rem;
  }

  .person_lastname {
    display: flex;
    font-family: "Permanent Marker", cursive;
    font-size: 4rem;
    border-left: none;
    border-top: solid black;
    border-width: 0.1em;
  }

  .fullname {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .contact_button {
    width: 6em;
    font-size: 2em;
  }
}

.contact_button:hover {
  background: #ff7a00;
}

.contact_button:focus {
  background: #ff7a00;
}

.contact_button:active {
  transform: scale(0.9);
}

.modal-content {
  margin: 0 10% 0 10%;
}

.modal-body {
  font-family: "Source Code Pro", monospace;
  font-size: 1.2rem;
}

/* Main styles*/

.main_grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "text text"
    "project1 project2";
  padding: 1.5em 2em 1.5em 2em;
  gap: 1.5em;
}

.text_section {
  grid-area: text;
  width: 80%;
  font-size: 3.6vw;
  text-justify: auto;
  color: var(--clr-offwhite);
}

@media screen and (min-width: 750px) {
  .text_section {
    grid-area: text;
    width: 80%;
    font-size: 1.8rem;
    color: var(--clr-offwhite);
  }
}

.project1 {
  grid-area: project1;
  border-radius: 20%;
  box-shadow: 0 0 10px var(--clr-dark-grey);
}

.project2 {
  grid-area: project2;
  border-radius: 20%;
  box-shadow: 0 0 10px var(--clr-dark-grey);
}

/* Footer styles*/

.footer {
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding-top: 6vh;
}

.footer_logos {
  color: black;
  font-size: 10vw;
  padding: 0 0.8em 0 0.8em;
}

@media screen and (min-width: 750px) {
  .footer_logos {
    font-size: 4rem;
  }
}
